<body>

  <div class='text-center'>
    <div class="p-3 mb-2 bg-secondary text-dark bg-opacity-75">
      <h1 class="title">Editing Event</h1>
      <%= render "form", event: @event %>
    </div>
  </div>

  <br>
  <div>
    <%= link_to "Show this event", @event, class: "btn btn-primary" %>
    <%= link_to "Back to events", events_path, class: "btn btn-secondary" %>
  </div>

</body>